<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span> <strong>Three Little Pigs</strong></span>
                    <div></div>
                    <img id="brand" alt="Brand" src="http://www.yim778.com/data/out/236/1356788.png" height="35px"/>
                </a>
            </div>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"></input>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
                <div></div>
            </form>

            <div class="navbar-right">
                <button class="btn btn-default" id="reglogbutton" data-toggle="modal" data-target="#myLoginModal">Register / Login</button>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="myLoginModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#login-form"> Login <span class="glyphicon glyphicon-user"></span></a></li>
                        <li><a data-toggle="tab" href="#registration-form"> Register <span class="glyphicon glyphicon-pencil"></span></a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div id="login-form" class="tab-pane fade in active">
                            <form action="/">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"></input>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"></input>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="remember"> Remember me</input></label>
                                </div>
                                <button type="submit" class="btn btn-default">Login</button>
                            </form>
                        </div>
                        <div id="registration-form" class="tab-pane fade">
                            <form action="/">
                                <div class="form-group">
                                    <label for="name">Your Name:</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name"></input>
                                </div>
                                <div class="form-group">
                                    <label for="newemail">Email:</label>
                                    <input type="email" class="form-control" id="newemail" placeholder="Enter new email" name="newemail"></input>
                                </div>
                                <div class="form-group">
                                    <label for="newpwd">Password:</label>
                                    <input type="password" class="form-control" id="newpwd" placeholder="New password" name="newpwd"></input>
                                </div>
                                <button type="submit" class="btn btn-default">Register</button>
                            </form>
                        </div>

                    </div>
                </div>
                <!--                                    <div class="modal-footer">-->
                <!--                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--                                    </div>-->
            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</body>
</html>